// main.scss
@import 'reset';

*, *:before, *:after {

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
// Add your global styles here
body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.no-scroll {
  overflow: hidden;
}